.adam{
  background-color: green;
  color: aliceblue;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  align-items: center;
  flex-direction: column;
}

#root{
  display: flex;
  gap: 40px;
  align-items: center;
  
}